
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Habit Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Habit Tracker</h1>
    </header>
    <nav>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>    </nav>
   
        <form method="POST" action="/add_habit">
            <h3>Add New Habit</h3>
            <label for="habit_name">Habit Name:</label>
            <input type="text" name="habit_name" required>
            <label for="description">Description:</label>
            <input type="text" name="habit_discription" required>
            <button type="submit">Add Habit</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Habit Tracker</p>
    </footer>
</body>
</html>
