<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Habit Tracker</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>singin-Habit Tracker</h1>
    </header>
    <main>
        <form method="post">
            <h2>Login</h2>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('signup') }}">Don't have an account? Signup here</a>
    </main>
    <footer>
        <p>&copy; 2024 Habit Tracker</p>
    </footer>
</body>
</html>

