<!DOCTYPE html>
<html>
<head>
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    text-align: center;
    padding: 50px;
}

h1 {
    color: yellow;
}

p {
    font-size: 1.2em;
    color:blue ;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
</style>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to the Fortune Teller!</h1>
    <form action="/home" method="POST">
        <label for="birth_month">Enter your birth month:</label>
        <input type="text" id="birth_month" name="birth_month" required>
        <button type="submit" value="submit">Tell my fortune</button>
    </form>
</body>
</html>